*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px; 
  margin: 20px 0;
}

.line-with-text .line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.line-with-text h2 {
  white-space: nowrap;
  font-weight: bold;
  color: #ff4f81;;
}


.box_container {
    width: 40%;
}

.box {
      border: 2px solid #ccc;
      padding: 16px;
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 16px auto;
      cursor: pointer;
    }

    .box.active {
      border-color: #ff4f81;
      align-items: flex-start;
      background-color: #ebe6e6;;
    }

    .ribbon {
      position: absolute;
      top: -10px;
      right: 10px;
      background: #ff4f81;
      color: white;
      font-size: 12px;
      padding: 4px 8px;
      border-radius: 4px;
      font-weight: bold;
    }

    .radio-line {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }

    .badge {
      background-color: #ff4f81;
      color: #fff;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 4px;
      margin-left: 4px;
    }

    .price {
      font-weight: bold;
      margin-top: 8px;
    }

    .text{
        margin-left: 1rem;
        margin-top: 8px;
        font-size: 14px;
        font-weight: bold;
    }

    .old-price {
      text-decoration: line-through;
      color: gray;
      font-size: 12px;
      margin-left: 8px;
    }

    .dropdowns {
      margin-top: 12px;
      display: none;
    }

    .box.active .dropdowns, .radio-line{
      display: block;
    }

    .dropdown-row {
      display: flex;
      gap: 10px;
      margin-bottom: 8px;
      margin-left: 1rem;
    }

    select {
      padding: 4px;
    }

    label {
      font-weight: bold;  
      font-size: 14px;
    }


    .total-price {
      display: flex;
      align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    }

    .total-price h2{
        color: #ff4f81;
    }

    .add-to-cart {
        width: 100%;
      background-color: #ff4f81;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }


    @media screen and (max-width: 760px) {
      .container {
        flex-direction: column;
        height: auto;
      }

      .box_container {
        width: 90%;
      }

      .line-with-text h2 {
        font-size: 1.5rem;
      }
        
    }